#app-content-wrapper #app-content {
    height: 100%;
}

#inner-app-content {
    padding: 0;
    height: 100%;
}
#map {
    /* height: 100%;
    width: 100%; */
    height: 50%;
}
#plot-div {
    height: 50%;
    /* background-color: green; */
}
.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}